picture{
    display: flex;
    align-items: center;
    justify-content: center;

}

picture img{

    display:flex;
    align-content: center;
    justify-content: center;
}

figcaption {

    display:flex;
    align-items: stretch;
    justify-content: center;
}