/* Body */

body {
    font-family: "Proxima Nova", Georgia, sans-serif;
    font-weight: 500;
    font-style: normal;
    letter-spacing: 0em;
    font-size: 18px;
    background-color: white;
    color: #666;
}

/* Side Bar Navigation Menu */

.sidenav {

    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: lightgrey;
    overflow-x: hidden;
    padding-top: 30px;
    transition: 0.5s;

}

.sidenav a {
    display: block;
    transition: 0.5s;
    color: #15141A;
    font-size: 18px;
    padding-left: 15px;
    padding-top: 15px;
}

span {
    padding: 10px;
    padding-top: 10px;
}

span:hover{
    color:black;
    
}


.sidenav a:hover {
    color: black;
  
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 20px;
    margin-left: 50px;
}

/* Main Content PUSHED to the right when menu open */

#main {
    transition: margin-left .5s;

    display:flex;
    justify-content: center;
    align-items: center;
    margin: 0 1em;
    width: calc(100% - 2em);
    min-height: 50vh;
 
    
}



/* Image Control */


footer {
    transition: margin-left .5s;
    position: absolute;
    height: 3em;
    padding: 1rem 0;
    width: 100%;
    text-align: center;
    
    
}

/* Support for viewing on Mobile */

@media screen and (max-height: 450px) {

    .sidenav {padding-top: 20px;}
    .sidenav a {font-size: 20px;}
}